<div *ngIf="isValid" class="md-main-page">
    <form [formGroup]="portfolioForm" (ngSubmit)="submitForm(portfolioForm.value)">
        <md-grid-list cols="1" rowHeight="100px">
            <md-grid-tile>
                <h2 class="title mat-headline">Manejar Portafolio</h2>
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list class="md-table-header" cols="9" rowHeight="45px">
            <md-grid-tile class="md-table-back" (click)="onTableReorder(i)" [colspan]="i === 0 ? 4 : 2" *ngFor="let eachHeader of tbHeader; let i = index">
                <div>{{eachHeader.title}}</div>
                <i class="material-icons">{{eachHeader.icon}}</i>
            </md-grid-tile>
            <md-grid-tile class="md-table-back" [colspan]="1">
                <div>Crear o Borrar</div>
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="9" rowHeight="85px">
            <md-grid-tile class="md-table-body-back" [colspan]="4">
                <md-input-container fxFlex="97">
                    <input mdInput
                           placeholder="Nombre Portafolio"
                           formControlName="portfolio_id"/>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2" >
                <md-input-container fxFlex="97">
                    <input mdInput
                           [textMask]="{mask: numberMask}"
                           type="text"
                           placeholder="Valor Meta"
                           formControlName="valor"/>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <md-select cdk-connected-overlay fxFlex="97" formControlName="moneda" class="management-select" placeholder="Moneda">
                    <md-option value="Colombian Peso">Colombian Peso</md-option>
                </md-select>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="1">
                <button md-mini-fab><i class="material-icons">check</i></button>
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="9" rowHeight="45px" *ngFor="let eachPortfolio of PortfolioList">
            <md-grid-tile class="md-table-body-back" [colspan]="4">
                <div>{{eachPortfolio.portfolio_id}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2" >
                <div>{{eachPortfolio.portfolio_goal_type_saver | currency:'USD':true:'1.0-6'}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <div>{{eachPortfolio.portfolio_ccy_saver}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="1">
                <button md-button type="button" (click)="onDelete(eachPortfolio)" [disabled]="eachPortfolio.deletable"><i class="material-icons">clear</i></button>
            </md-grid-tile>
        </md-grid-list>
    </form>
</div>