.title {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 30px;
    margin-right: 20px;
}
.md-button-conteiner {
    align-self: flex-end;
    flex-grow: 4;
    align-content: flex-end;
    margin-bottom: 84px;
    margin-right: 10px;
}
.mat-button {
    font-size: 24px;
    background-color: #ff6f31;
    color: #fff;
    font-weight: 400;
}
.md-input-portfolio {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-title .mat-display-1 {
    margin-bottom: 0px;
}
.full-size {
    /*transform: translateX(-100px);*/
    left:0px !important;
    width: 100% !important;
    /*height: calc(100vh - 380px) !important;*/
    /*height: 500px !important;*/
    z-index: 1000;
}
.full-size .mat-card {
    /*height: calc(100vh - 445px) !important;*/
}
.pull-right {
    float: right;
    font-size: 28px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}