<div *ngIf="isValid" class="md-main-page" cdk-scrollable>
    <md-grid-list cols="1" rowHeight="70px" class="custom-analizar">
        <md-grid-tile>
            <h2 class="title mat-headline">Analizar</h2>
            <md-select placeholder=""
                       cdk-connected-overlay
                       [style.width]="width + 'px'"
                       [(ngModel)]="ngPortfolioName"
                       (ngModelChange)="onPfnameChanged()" #selectPortfolio>
                <md-option *ngFor="let eachObj of tableInfo" [value]="eachObj.Portname">{{eachObj.Portname}}</md-option>
            </md-select>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list [cols]="2" rowHeight="40px" class="mat-title custom-analizar">
        <md-grid-tile md-colspan-gt-sm="4"><span class="mat-display-1">${{ngScopeVoP}}&nbsp;</span> valor actual</md-grid-tile>
        <md-grid-tile><span class="mat-display-1">{{ngScopeRate}}%&nbsp;</span> cambio desde el inicio</md-grid-tile>
    </md-grid-list>

    <md-grid-list [cols]="cols | async" rowHeight="380px" style="margin-bottom:10px;">

        <md-grid-tile>
            <md-card class="md-card-top md-card-child">
                <md-card-title class="md-card-chat">Utilidad portafolio en pesos</md-card-title>
                <md-card-content>
                    <div [SliderIndex]="ngSliderIndex" [RefreshStatus]="ngSecondGraphModel" [SliderDisable]="disabled" [PfName]="ngPortfolioName" [WindowSize]="ngWidth" d3portline></div>
                </md-card-content>
            </md-card>
        </md-grid-tile>

        <md-grid-tile>
            <md-card class="md-card-top md-card-child">
                <md-card-title class="md-card-chat">Retornos de portafolio en 91 días</md-card-title>
                <md-card-content>
                    <div [SliderIndex]="ngSliderIndex" [SliderDisable]="disabled" [PfName]="ngPortfolioName" [WindowSize]="ngWidth" [DataLength]="maxVal" d3porthisogram></div>
                </md-card-content>
            </md-card>
        </md-grid-tile>

        <md-grid-tile>
            <md-card class="md-card-top md-card-child">
                <md-card-title id="card-title">Retorno 91 dias, Riesgo 7 dias</md-card-title>
                <md-card-content>
                    <div class="scatter_tooltip" id="scatter_tooltip">
                        <div class="scatter_title" id="scatter_title">Title1234567889</div>
                        <div class="scatter_y" id="scatter_y">y : 1.123456</div>
                        <div class="scatter_port" id="scatter_port">p : 1.123456</div>
                        <div class="scatter_x" id="scatter_x">x : 1.123456</div>
                    </div>
                    <div [SliderIndex]="ngSliderIndex"
                         [RefreshAll]="ngAllRefresh"
                         [SliderDisable]="disabled"
                         [PortfolioName]="ngPortfolioName"
                         [TableInfo]="tableInfo"
                         [WindowSize]="ngWidth" d3Scatter></div>
                </md-card-content>
            </md-card>
        </md-grid-tile>

    </md-grid-list>
    <button [routerLink]="['/trade/' + ngPortfolioName]" md-button class="mat-button">Buy/sell funds</button>
    <md-toolbar class="md-toolbar-bottom" fxFlex="none">
        <md-slider class="m-slider" (input)="onInputChange($event)"
            [disabled]="disabled"
            [max]="maxVal"
            [min]="minVal"
            [value]="ngSliderIndex"
            [step]="1">
        </md-slider>
        <md-form-field>
            <input mdInput [value]="ngDate" [mdDatepicker]="picker" placeholder="Choose a date" (dateInput)="onInputDatepicker($event)" (dateChange)="onInputDatepicker($event)">
            <md-datepicker-toggle mdSuffix [for]="picker" style="width: 10px"></md-datepicker-toggle>
            <md-datepicker [value]="ngDate" #picker></md-datepicker>
        </md-form-field>
    </md-toolbar>
</div>