<div *ngIf="isValid" class="md-main-page">
    <form [formGroup]="tradeForm" (ngSubmit)="onBuy(tradeForm.value)">
        <md-grid-list cols="3" rowHeight="100px">
            <md-grid-tile>
                <app-custom-select-field [field]="tradeForm.controls['portfolio']"
                                         [dataSelected]="tradeForm.controls['portfolio'].value"
                                         [dataList]="PortfolioList"></app-custom-select-field>
            </md-grid-tile>
            <md-grid-tile>
                <h2 class="title mat-headline">Comprar / vender</h2>
            </md-grid-tile>
            <md-grid-tile>
                <app-custom-select-field [field]="tradeForm.controls['fondo']"
                                         [dataSelected]="tradeForm.controls['fondo'].value"
                                         [dataList]="fondosList"></app-custom-select-field>
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list [cols]="cols | async" rowHeight="380px" style="margin-bottom:10px;">
            <md-grid-tile>
                <md-card class="md-card-top md-card-child">
                    <md-card-title class="md-card-chat">Composición portafolio</md-card-title>
                    <md-card-content>
                        <div [SliderIndex]="ngSliderIndex"
                             [SliderDisable]="disabled"
                             [PfName]="ngPortfolioName"
                             d3treemap></div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile>
                <md-card class="md-card-top md-card-child">
                    <md-card-title class="md-card-chat">Precio unidad</md-card-title>
                    <md-card-content>
                        <div [SliderIndex]="ngSliderIndex"
                             [Data]="ngScopeFanData"
                             d3fanchart></div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile>
                <md-card class="md-card-top md-card-child">
                    <md-card-title id="card-title">Retornos 91 días portafolio y fondo</md-card-title>
                    <md-card-content>
                        <div [SliderIndex]="ngSliderIndex"
                             [SliderDisable]="disabled"
                             [PfName]="ngPortfolioName"
                             d3ScatterCompare></div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list [cols]="colsValue | async" rowHeight="60px" style="margin-bottom:10px;">
            <md-grid-tile>
                <div>{{ngScopeDay91}}% en 91 días</div>
            </md-grid-tile>
            <md-grid-tile>
                <div>{{ngScopeDay182}}% en 182 días</div>
            </md-grid-tile>
            <md-grid-tile>
                <div>{{ngScopeDay365}}% en 365 días</div>
            </md-grid-tile>
            <md-grid-tile>
                <div>{{ngScopeYear}}% desde inicio, tasa periodo o anual</div>
            </md-grid-tile>
        </md-grid-list>

        <md-card class="md-card-top">
            <md-card-content>
                <div fxLayout="row" fxLayoutWrap>
                    <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="50">
                        <md-form-field fxFlex="97">
                            <input mdInput
                                   placeholder="Choose a date"
                                   formControlName="date"
                                   readonly
                                   [min]="minDate"
                                   [max]="maxDate"
                                   [value]="tradeForm.controls['date'].value"
                                   [mdDatepicker]="pickerForm"
                                   (click)="pickerForm.open()"
                                   (dateInput)="onInputDatepicker($event)"
                                   (dateChange)="onInputDatepicker($event)">
                            <md-datepicker-toggle mdSuffix [for]="pickerForm" style="width: 10px"></md-datepicker-toggle>
                            <md-datepicker [value]="tradeForm.controls['date'].value" #pickerForm></md-datepicker>
                        </md-form-field>
                    </div>
                    <div fxFlex="auto" fxFlex.sm="50" fxFlex.xs="50">
                        <md-select cdk-connected-overlay fxFlex="97" formControlName="trade">
                            <md-option value="comprar">Comprar</md-option>
                            <md-option value="vender">Vender</md-option>
                        </md-select>
                    </div>
                    <div fxFlex="25" fxFlex.sm="45" fxFlex.xs="45">
                        <md-input-container fxFlex="97">
                            <input mdInput
                                   type="number"
                                   max="10"
                                   placeholder="Pesos"
                                   formControlName="pesos"
                                   (change)="calculateUnidades(tradeForm.controls['pesos'].value)">
                        </md-input-container>
                    </div>
                    <div fxFlex="25" fxFlex.sm="45" fxFlex.xs="45">
                        <md-input-container fxFlex="97">
                            <input mdInput
                                   type="number"
                                   placeholder="Unidades"
                                   formControlName="unidades"
                                   (change)="calculatePesos(tradeForm.controls['unidades'].value)">
                        </md-input-container>
                    </div>
                    <div fxFlex="none" fxFlex.sm="none" fxFlex.xs="none" [style.textAlign]="'right'">
                        <button md-mini-fab><i class="material-icons">check</i></button>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-grid-list class="md-table-header" cols="15" rowHeight="45px">
            <md-grid-tile class="md-table-back" (click)="onTableReorder(i)" [colspan]="i === 1 ? 4 : 2" *ngFor="let eachHeader of tbHeader; let i = index">
                <div>{{eachHeader.title}}</div>
                <i class="material-icons">{{eachHeader.icon}}</i>
            </md-grid-tile>
            <md-grid-tile class="md-table-back" [colspan]="1">
                <div>borrar</div>
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="15" rowHeight="45px" *ngFor="let eachTransaction of fondoList.Portarray">
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <div>{{eachTransaction.tDate}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="4">
                <div>{{eachTransaction.strFundName}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <div>{{eachTransaction.strBoS}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <div>{{eachTransaction.str_nItemCnt}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <div>${{eachTransaction.str_fItemValue}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="2">
                <div>${{eachTransaction.str_fTotal}}</div>
            </md-grid-tile>
            <md-grid-tile class="md-table-body-back" [colspan]="1">
                <button md-button (click)="onDelete(eachTransaction)" [disabled]="eachTransaction.deletable"><i class="material-icons">clear</i></button>
            </md-grid-tile>
        </md-grid-list>

        <md-toolbar class="md-toolbar-bottom">
            <md-slider class="m-slider" (input)="onInputChange($event)"
                       [disabled]="disabled"
                       [max]="maxVal"
                       [min]="minVal"
                       [value]="ngSliderIndex"
                       [step]="1">
            </md-slider>
            <md-form-field>
                <input mdInput
                       readonly
                       placeholder="Choose a date"
                       [min]="minDate"
                       [max]="maxDate"
                       [value]="tradeForm.controls['date'].value"
                       [mdDatepicker]="picker"
                       (click)="picker.open()"
                       (dateInput)="onInputDatepicker($event)"
                       (dateChange)="onInputDatepicker($event)">
                <md-datepicker-toggle mdSuffix [for]="picker" style="width: 10px"></md-datepicker-toggle>
                <md-datepicker [value]="tradeForm.controls['date'].value" #picker></md-datepicker>
            </md-form-field>
        </md-toolbar>
    </form>
</div>