.container {
    /*width: 100%;*/
    height: calc(100vh - 64px);
    /*min-height: calc(100% - 64px);*/
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: stretch;
    justify-content: center;
}
.sidenav-content .mat-button {
    margin-left: -16px;
    margin-right: 16px;
    padding: 0px;
    min-width: 64px;
}

.sidenav {
}
#googleBtn {
    padding-top: 4px;
    cursor: pointer;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    background-color: transparent;
    border: none;
}
.md-toolbar-tools .language-button.default-text-btn {
    padding-top: 8px;
}
@media (max-width: 600px) {
    .user-login-text {
        display: none;
    }
}

@media (max-width: 450px) {
    .sidenav-content .mat-button {
        margin-right: 8px;
    }
    .head-text {
        margin-top: 3px;
        font-size: 18px;
    }
    .md-toolbar-tools .material-icons{
        margin-right: 0px;
    }
}