<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar class="md-toolbar-tools" *ngIf="user.saver_id">
    <div class="sidenav-content">
        <button md-button type="button" (click)="sidenav.open()">
            <i class="material-icons">menu</i>
        </button>
    </div>

    <i class="head-text material-icons">face</i>
    <span class="head-text">&nbsp;&nbsp;Ideatón 2017</span>
    <span class="md-spacer"></span>
    <span class="head-text">Orza&nbsp;&nbsp;</span>
    <img src="./WhiteonTransparent.png" class="logo-img-lg">

</md-toolbar>

<md-sidenav-container class="container">
    <md-sidenav #sidenav class="sidenav">
        <md-nav-list>
            <md-list-item [routerLink]="['/']">Analizar Portafolio</md-list-item>
            <md-list-item [routerLink]="['/trade']">Comprar/vender Criptomonedas</md-list-item>
            <md-list-item [routerLink]="['/management']">Manejar Portafolio</md-list-item>
        </md-nav-list>
    </md-sidenav>
</md-sidenav-container>

<div class="container-scrolling">
    <router-outlet></router-outlet>
</div>

