.container {
    /*width: 100%;*/
    height: calc(100vh - 64px);
    /*min-height: calc(100% - 64px);*/
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: stretch;
    justify-content: center;
}
.sidenav-content .mat-button {
    margin-left: -16px;
    margin-right: 16px;
    padding: 0px;
    min-width: 64px;
}

.sidenav {
}


@media (max-width: 450px) {
    .sidenav-content .mat-button {
        margin-right: 8px;
    }
    .head-text {
        margin-top: 3px;
        font-size: 18px;
    }
    .user-login-text {
        display: none;
    }
    .md-toolbar-tools .material-icons{
        margin-right: 0px;
    }
}